:link, :visited {
  text-decoration: none;
  color:inherit;
}
.button-yellow:hover {

    background-color: #495E57 ;
    border-color: #495E57;
    color:#F4CE14;
    outline: 0.4rem solid #F4CE14;
    transition: 0.5s;
  }


.button-yellow {
  background-color: #F4CE14;
  border:0.5rem solid #F4CE14;
  border-radius:16px;
  color: #495E57;
  font-size: 1rem;
  font-weight: 700;
  font-family:"Karla",serif;
  transition: 0.5s;
}

