.navBar {
    display:flex;
    justify-content: space-around;
    height:5rem;
    font-size: min(max(1vw,1rem),20px);
    background-color:#ffffff;
    padding-left: min(15%, 20vw);
    padding-right: min(15%, 20vw);

}

.navBar ul {
    padding-top:2%;
    height:7vh;
    display:flex;
    list-style: none;
    flex:1;
    gap:max(30px,2vw);

}

.navBar ul :link,
.navBar ul :visited { /*prevent clicked links being underlined or purple */
    color:#000000;
    text-decoration: none;
}


.navBar li :hover {
    background-color: #f7f7f7;
    font-weight:500;
    border: 3px solid #f7f7f7;
    border-top: 0;
    border-radius: 16px;

}


.navBar #logo {
    padding-top:3%;
    flex:2;
    height:4rem;
}






