#herobox > article > h2 {
    font-family:"Markazi Text", serif;
    color: #27472f;
    font-weight: 300;
    font-size:2.5rem;
    color: #ffffff;
    margin-top:0;
    padding-left: 0;
    border-left: 0;

}

#herobox > article > h1 {
    font-family:"Markazi Text", serif;
    font-size: 3.5rem;
    font-weight: 300;
    padding-left: 20px;
    margin: 0 auto 0 auto;
    color:#F4CE14;
    padding-left: 0;
}


#herobox > article {
    border-radius: 16px;
    padding: 2%;
    margin: 1%;
    color: #ffffff;

}


#herobox {
    display:flex;
    background-color: #495e57;
    height:40vh;
    align-items: center;


}

#herobox img {
    height:26rem;
    margin-top:15vh;
    border-radius: 16px;
    width:100%;
    object-fit: cover;
    filter:blur(0.5px)
}
